      <div class="main_content">
	<form id="search_form">
	  <h2>Pickr 검색</h2>
	  <div class="search_text_field">
	    <input type="text" />
	    <button>GO</button>
	  </div>
	</form>
	<div id="picture_stream">
	  <div class="arrow_left"><a href="#"><img src="/images/arrow_left.png" alt="왼쪽" /></a></div>
	  <div class="arrow_right"><a href="#"><img src="/images/arrow_right.png"
	  alt="오른쪽" /></a></div>

	  <div id="picture_stream_mask">
	    <ul id="picture_stream_ul">
	      <% @all_images.each do | picture |  %>
	      <li><img src="/pictures/medium/<%= picture.url_hashed %>" alt="이미지" /></li>
	      <% end %>
	    </ul>
	  </div>
	</div>
	<div class="picking_image_counter">
	  지금까지 총 <span style="font-weight: bold; color: orange;">1,000장</span>의 사진이 수집 되었습니다.
	</div>
      </div>


      <script type="text/javascript">
/*
window.addEventListener("load", function(){

    var resizeContentWrap = function(){
	var w_height = (window.innerHeight < 300 ) ? 300 : window.innerHeight;
	var w_width = (window.innerWidth < 800 ) ? 800 : window.innerWidth;
	
	$E("content_wrap").setHeight(w_height);
	$E("picture_stream_mask").setWidth(w_width - 150);
	
    };

    resizeContentWrap();
    window.addEventListener("resize", resizeContentWrap);

    setInterval(function(){

	var margin_left = $E("picture_stream_ul").getStyle("marginLeft");
	$E("picture_stream_ul").setStyle("marginLeft",
	parseInt(margin_left) - 1 + "px");

					   }, 30);
    
    
});
*/
      </script>
