      <div class="search_content">
	<form id="search_form">
	  <h2>Pickr 검색</h2>
	  <div class="search_text_field">
	    <input type="text" />
	    <button>GO</button>
	  </div>
	</form>

	<div id="search_result">
	  <h4><span class="keyword">"윤건"</span>에 대해서 총 <span class="count">10개</span>의
	  검색 결과</h4>

	  <ul>
	    <li>
	      <p><img src="/images/sample_search_result.jpg" alt="이미지"
	      /></p>
	      <div class="buttons">
		<button class="bookmark" alt="북마크"><span>5</span></button>
		<button class="good"><span>235</span></button>
		<button class="bad"><span>51</span></button>
	      </div>
	      <dl>
		<dt>윤건 | 가수 | 콘서트</dt>
		<dd>http://ygmaster.net/imagese/sdsfs.jpg</dd>
		<dd>최초 수정일 : 2011-12-01 12:02:22</dd>
	      </dl>
	    </li>


	    <li>
	      <p><img src="/images/sample_search_result.jpg" alt="이미지"
	      /></p>
	      <div class="buttons">
		<button class="bookmark_off" alt="북마크"><span>5</span></button>
		<button class="good"><span>235</span></button>
		<button class="bad"><span>51</span></button>
	      </div>
	      <dl>
		<dt>윤건 | 가수 | 콘서트</dt>
		<dd>http://ygmaster.net/imagese/sdsfs.jpg</dd>
		<dd>최초 수정일 : 2011-12-01 12:02:22</dd>
	      </dl>
	    </li>

	    <li>
	      <p><img src="/images/sample_search_result.jpg" alt="이미지" /></p>
	      <div class="buttons">
		<button class="bookmark_off" alt="북마크"><span>5</span></button>
		<button class="good"><span>235</span></button>
		<button class="bad"><span>51</span></button>
	      </div>
	      <dl>
		<dt>윤건 | 가수 | 콘서트</dt>
		<dd>http://ygmaster.net/imagese/sdsfs.jpg</dd>
		<dd>최초 수정일 : 2011-12-01 12:02:22</dd>
	      </dl>
	    </li>
	    

	  </ul>
	</div>
	
      </div>

