h1, h2, h3, h4, h5, h6{ margin: 0px; padding: 0px; font-size: 15px; }
ul{ margin: 0px; padding: 0px; }
body{ font-family: tahoma, daum; margin: 0px; color: #333;}

header{ z-index: 10; position: fixed; width: 100%; left: 0px; top: 0px; background-color: #3a3d63; }
footer{ z-index: 10; position: fixed; top: 100%; left: 0px; width: 100%; text-align: left; padding: 5px; background-color: #fafafa; margin-top: -30px; height: 20px; font-size: 0.7em; border-top: 1px solid #dadada; font-family: verdana; color: #999; }

h1{ color: #fff; font-size: 1.3em; font-family: tahoma; padding: 5px 10px; }

#picture_stream{ position: relative; width: 100%; text-align: center; background-color: #c0ddea; padding: 20px 0px; margin-top: 50px; min-width: 800px; }

#picture_stream .arrow_left{ float: left; padding: 35px 10px 35px 20px; }
#picture_stream .arrow_right{ float: right; padding: 35px 20px 35px 10px; }

#picture_stream_mask{ margin: 0px 68px; width: 1px; overflow: hidden; }

#picture_stream ul{ width: 10000px; text-align: left; height: 125px; }
#picture_stream ul li{ list-style: none; display: inline; }


.picking_image_counter{ margin-top: 30px; font-size: 1em; }

#content_wrap{ position: relative; text-align: center; }
#content_wrap .content{ position: absolute; top: 50%; margin-top: -200px; height: 230px; width: 100% }
#search_form{ width: 580px; margin: 0px auto; text-align: left; }
#search_form h2{ margin-right: 20px; margin-top: 3px; font-size: 2em; font-family: tahoma, Daum; float: left; }
#search_form .search_text_field{ margin: 0px; padding-top: 5px; }
#search_form .search_text_field input{ width: 300px; height: 32px; border: 3px solid #3a3d67; font-size: 1.5em; }
#search_form .search_text_field button{ position: absolute; margin-left: -6px; margin-top: 0px; background-color: #3a3d67; border: 0px; font-size: 1.4em; height: 40px; width: 80px; color: #ddd; font-weight: bold; }