<div>
  <%=@picture_id%>
</div>



<div style="background-color: #000; display: table-cell; width: 100px;">asdfsf</div>
<div style="background-color: #000; display: table-cell; width: 100px;">asdfsf</div>
<div style="background-color: #000; display: table-cell; width: 100px;">asdfsf</div>
<div style="background-color: #000; display: table-cell; width: 100px;">dfgdfgdflgjdlfkgjldkfjgasdsfsdfsadfsdfsfsdfsf</div>
