<div id="">

  <form method="post" action="/user/login">
    <dl>
      <dt>아이디</dt>
      <dd><input type="text" name="data[User][userid]" /></dd>
      <dt>비밀번호</dt>
      <dd><input type="password" name="data[User][password]" /></dd>
    </dl>
    <p><input type="submit" value="로그인" /></p>
  </form>
  
</div>
