<div id="signup">
  <h2>회원가입</h2>
  <form id="signup_form" name="signup" method="post" action="/user/signup" onsubmit="return false;">
    <ul>
      <li><input type="text" name="user[userid]" placeholder="아이디" /></li>
      <li><input type="password" name="user[password]" placeholder="비밀번호" /></li>
      <li><input type="password" name="password_confirmation" placeholder="비밀번호 확인" /></li>
    </dl>
    <p><button type="submit">회원가입</button></p>
  </form>  
</div>
<script type="text/javascript">
  pickr.require(["service/user/signup"]).run();
</script>
