<div id="signup">

  <form id="signup_form" name="signup" method="post" action="/user/signup">
    <dl>
      <dt>아이디</dt>
      <dd><input type="text" name="data[User][userid]" /></dd>
      <dt>비밀번호</dt>
      <dd><input type="password" name="" /></dd>
      <dt>비밀번호 확인</dt>
      <dd><input type="password" name="" /></dd>
    </dl>
    <p><input type="submit" value="회원가입" /></p>
  </form>
  
</div>
<script type="text/javascript" src="/javascripts/user/signup.js"></script>
