<section id="album_sidebar_left">
  <button>hidden</button>
  <nav>
    <ul>
      <li>Album</li>
      <li>Account</li>
    </ul>
  </nav>  
</section>


<section id="album">
  <header>
    <h3><%= @userid %>'s Album</h3>
  </header>
  <aside class="information">
    <div style="margin-top: 65px;">
      상세정보
      상세정보
      상세정보
      상세정보
      상세정보
      상세정보
      상세정보
      상세정보
      상세정보
      상세정보
      상세정보
      상세정보
      상세정보
      상세정보
      상세정보
      상세정보
      상세정보
      상세정보
      상세정보
      상세정보
      상세정보
      상세정보
      상세정보
      상세정보
      상세정보
      상세정보
      상세정보
      상세정보
      상세정보
      상세정보
      상세정보
      상세정보
      상세정보
      상세정보
      상세정보
      상세정보
      상세정보
      상세정보
      상세정보
      상세정보
      상세정보
    </div>
    
  </aside>

  <ul class="picture_list">
    <li><a href="#"><img src="/images/album_icon_sample.jpg" alt="" /></a></li>
    <li><a href="#"><img src="/images/album_icon_sample.jpg" alt="" /></a></li>
    <li><a href="#"><img src="/images/album_icon_sample.jpg" alt="" /></a></li>
    <li><a href="#"><img src="/images/album_icon_sample.jpg" alt="" /></a></li>
    <li><a href="#"><img src="/images/album_icon_sample.jpg" alt="" /></a></li>
    <li><a href="#"><img src="/images/album_icon_sample.jpg" alt="" /></a></li>
    <li><a href="#"><img src="/images/album_icon_sample.jpg" alt="" /></a></li>
    <li><a href="#"><img src="/images/album_icon_sample.jpg" alt="" /></a></li>
    <li><a href="#"><img src="/images/album_icon_sample.jpg" alt="" /></a></li>
    <li><a href="#"><img src="/images/album_icon_sample.jpg" alt="" /></a></li>
    <li><a href="#"><img src="/images/album_icon_sample.jpg" alt="" /></a></li>
    <li><a href="#"><img src="/images/album_icon_sample.jpg" alt="" /></a></li>
    <li><a href="#"><img src="/images/album_icon_sample.jpg" alt="" /></a></li>
    <li><a href="#"><img src="/images/album_icon_sample.jpg" alt="" /></a></li>
    <li><a href="#"><img src="/images/album_icon_sample.jpg" alt="" /></a></li>
    <li><a href="#"><img src="/images/album_icon_sample.jpg" alt="" /></a></li>
    <li><a href="#"><img src="/images/album_icon_sample.jpg" alt="" /></a></li>
    <li><a href="#"><img src="/images/album_icon_sample.jpg" alt="" /></a></li>
    <li><a href="#"><img src="/images/album_icon_sample.jpg" alt="" /></a></li>
    <li><a href="#"><img src="/images/album_icon_sample.jpg" alt="" /></a></li>
    <li><a href="#"><img src="/images/album_icon_sample.jpg" alt="" /></a></li>
    <li><a href="#"><img src="/images/album_icon_sample.jpg" alt="" /></a></li>
    <li><a href="#"><img src="/images/album_icon_sample.jpg" alt="" /></a></li>
    <li><a href="#"><img src="/images/album_icon_sample.jpg" alt="" /></a></li>
    <li><a href="#"><img src="/images/album_icon_sample.jpg" alt="" /></a></li>
    <li><a href="#"><img src="/images/album_icon_sample.jpg" alt="" /></a></li>
    <li><a href="#"><img src="/images/album_icon_sample.jpg" alt="" /></a></li>
    <li><a href="#"><img src="/images/album_icon_sample.jpg" alt="" /></a></li>
  </ul>

</section>
<script type="text/javascript">
  window.addEventListener("resize", function(){
    var el = $E(document.getElementsByClassName("picture_list")[0]);
    el.setHeight(daum.Browser.getWindowSize().height - 93);
  });
</script>
