<!DOCTYPE html>
<html>
  <head>
    <title>Pickr</title>
    <%= render "layouts/header_javascript_core" %>
    <link rel="stylesheet" href="/stylesheets/pickr.css" />
    <%= stylesheet_link_tag :all %>
    <%= csrf_meta_tag %>
  </head>
  <body class="<% if @layout_width > 0 %>layout_780<% end %><% if @controller_name == 'picture' %> layout2<% end %>">
    <header id="site_header">
      <div <% if @layout_width > 0 %>class="layout_780"<% end %>>
	<h1><a href="/">Pickr</a></h1>
	<nav id="site_nav">
	  <ul>
	    <li><a href="/user/signin">로그인</a></li>
	    <li><a href="/user/signup">회원가입</a></li>
	  </ul>
	</nav>
      </div>
    </header>
    <section id="content_wrap">
      <div <% if @layout_width > 0 %>class="layout_780"<% end %> style="height: 100%;">
	<%=yield%>
      </div>
    </section>
    <footer>
      <div <% if @layout_width > 0 %>class="layout_780"<% end %>>Copyright (c) 2011, Pickr. All rights reserved.</div>
    </footer>
  </body>
</html>
